*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  }
body{
    background-color: rgb(229, 227, 220);
    color:#0a0a0a ;
   // font-family: 'Neue Montreal',sans-serif;
    //font-family: 'Satisfy', cursive;
   // font-family: 'Arapey', serif;

  //font-family: 'Gloria Hallelujah';
  // font-family: 'Merienda', cursive;
 //  font-family: 'Marko One', serif;
 font-family:"Segoe UI", sans-serif;
 // background:url(https://awesomeparallexeffect--raghucse20101.repl.co/assets/img/bg.png) no-repeat;
  background-size:cover;
//  height:100vh;
overflow-x: hidden;

}
h1{
    text-transform: uppercase;
    // font-family: 'Chilanka', cursive;
    font-family:"Segoe UI", sans-serif;

    font-size: 7vw;
   // margin-top: 35%;
    margin-bottom: 0;
    color: #8e5d5d;
    // #e5c425  #7e1e1e
}
h2{
    margin-bottom: 20px;
    z-index: 1;
    position: relative;
    color: #c3bebb;
    font-size: 90px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 32px;
    line-height: 60px;
}